/* Add your CSS styles here */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #191919;
}

.artist-image {
    display: flex;
    align-items: flex-start;
    background-color: black;
    padding: 10px;
}

.artist-image.image-wrapper {
    background-color: black;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 50%;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
    position: relative;
    left: 200%;
    
}
.artist-image.music-logo img{
    
    position: absolute;
    left: 10%;
    margin: 10px;
}
.image-wrapper h2 {
    color: #fff;
    position: relative;
    left: 320%;
    top: -100px;
    justify-self:center;
   
}

.artist {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 20px;
}

.links {
    padding: 0 0 10px;
    color: #fff;
    font-size: 200%;
    margin-bottom: 20px; 
}

.links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px; 
}
.links a:hover {
    background: rgb(105, 105, 170, 0.1);
    cursor: pointer;
    transition: .3s ease;
}
.artist ul {
    padding: 0 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.artist li {
    position: relative;
    padding: 10px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s linear;
    color: #fff; 
}

.artist li:hover {
    background: rgb(105, 105, 170, 0.1);
}

.artist li span {
    font-size: 20px;
    font-weight: 600;
    color: #4c5262;
}

.artist li img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.artist li h5 {
    font-size: 20px;
    margin-left: 10px;
}


.artist li .bi {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
}
