<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Music Website|data</title>
    <link rel="stylesheet" href="/css/choose_songs.css">
    <script src="/js/choose_songs.js"></script>
    <script src="/js/java.js" defer></script>
</head>

<body class="blue-background">
    <div class="music-logo">
        <img src="/images/Screenshot 2024-03-26 035702.png" alt="Your Music Website Logo" width="200" height="100" >
    </div>
    <nav>
        <ul>
            <li><a href="/playlist" class="link active"> Home</a></li>
            <li><a href="/subscription" class="link"> Subscribe</a></li>
            <li><a href="/about" class="link"> About</a></li>
        </ul>
    </nav>
    <p id="bodyhead">choose your type of music</p>
    <p class="para">Genre</p>
    <div id ="genre-container"></div><br>
    <p class="para">Artists</p>
    <div id ="artist-container"></div><br>
    <p class="para">Language</p>
    <div id ="language-container"></div><br>
    <button id="start" type="submit">Start</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById("start").addEventListener("click", async function(event) {
            event.preventDefault();
            genreList = await load_genre();
            artistList =await load_artist();
            console.log("genre list from html"+genreList);
            console.log("artist list from html"+artistList);
            //alert("genreList from html"+genreList);
            //alert("artistList from html"+artistList);
            //alert("language-container from html"+localStorage.getItem("language-container"));
            $.post('/update_preference',{
                genre:genreList,
                artist:artistList,
                country:localStorage.getItem("language-container")
                }).done(function(response){
                    console.log('the preference is updated');
                    //window.location.href = '/choose_songs';
                }).fail(function(error){
                    alert("error he" + error.responseText);
                });


            authorize();
        
    });

    </script>
    
</body>
</html>
