<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Music Website|Login and Registration</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/java.js"  defer></script>
</head>   
<body>
        
    
    <div class="wrapper">
        <nav class="music">
            <div class="music-logo">
            <img src="/images/Screenshot 2024-03-26 035702.png" alt="Your Music Website Logo" width="200" height="100" >
            </div>
            <div class="music-menu" id="musicMenu">
                <ul>
                    <li><a href="#" class="link active"> Home</a></li>
                    <li><a href="/subscription" class="link"> Subscribe</a></li>
                    <li><a href="/about" class="link"> About</a></li>
                </ul>
            </div>
            
        </nav>

<!----------------------------- Form box ----------------------------------->    
<div class="form-box">
        
    <!------------------- login form -------------------------->
    <div class="login-container" id="login">
        <div class="top">
            <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
            <header>Login</header>
        </div>
        <div class="input-box">
            <input id='email'type="text" class="input-field" placeholder="Username or Email">
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input id="password" type="password" class="input-field" placeholder="Password">
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-box">
            <input id ="signin button" type="submit" class="submit" value="Sign In">
        </div>
        <div class="two-col">
            <div class="one">
                <input type="checkbox" id="login-check">
                <label for="login-check"> Remember Me</label>
            </div>
            <div class="two">
                <label><a href="/profile">Forgot password?</a></label>
            </div>
        </div>
    </div>
           <!------------------- registration form -------------------------->
        <div class="register-container" id="register">
            <div class="top">
                <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                <header>Sign Up</header>
            </div>
            <div class="two-forms">
                <div class="input-box">
                    <input id="firstname" type="text" class="input-field" placeholder="Firstname">
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input id='Lastname' type="text" class="input-field" placeholder="Lastname">
                    <i class="bx bx-user"></i>
                </div>
            </div>
            <div class="input-box">
                <input id='emaill' type="text" class="input-field" placeholder="Email">
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <input id='passwordd' type="password" class="input-field" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input id="registerButton" type="submit" class="submit" value="Register">
            </div>
            <div class="two-col">
                <div class="two">
                    <label><a href="#">Terms & conditions</a></label>
                </div>
            </div>
        </div>
    </div>
</div>   
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var x=document.getElementById("login")
    var y=document.getElementById("register")
    function login(){
        x.style.left="4px";
        y.style.right="-520px";
        x.style.opacity=1;
        y.style.opacity=0;
    }
    function register(){
        x.style.left="-510px";
        y.style.right="5px";
        x.style.opacity=0;
        y.style.opacity=1;
    }
    document.getElementById("registerButton").addEventListener("click", function(event) {
        event.preventDefault();
        var firstn = $("#firstname").val().trim();
        var Lastn = $("#Lastname").val().trim();
        var email = $("#emaill").val().trim();
        var password = $("#passwordd").val().trim();
        
        if (firstn === "" || Lastn === "" ||email == "" || password == "") {
            // If any field is empty, display an alert
            alert("Please fill out all the fields");
        }
        else {
            console.log("register");
            $.post('/register',{
            First_Name:firstn,
            Last_Name:Lastn,
            email:email,
            password:password
            }).then(function(response){
                console.log('the response from the register'+response);
                localStorage.setItem("user_Fname", firstn);
                localStorage.setItem("user_Lname", Lastn);
                localStorage.setItem("user_email", email);
                localStorage.setItem("user_password", password);
                //window.location.href = '/choose_songs';
            }).fail(function(error){
                alert("error" + error.responseText);
            });
            window.location.href = '/choose_songs';
            console.log("register finished");
        }
    });
    document.getElementById("signin button").addEventListener("click", function(event) {
        event.preventDefault();
        
        let email = $("#email").val().trim();
        let password = $("#password").val().trim();
        
        if (email == "" || password == "") {
            // If any field is empty, display an alert
            alert("Please fill out all the fields");
        }
         else {
            //window.location.href = "/playlist";

            $.post('/sign_in',{
                email:email,
                password:password
            })
            .then(function(response){
                //console.log("sign_in_alert "+response.email);
                localStorage.setItem("user_Fname", response.First_Name);
                localStorage.setItem("user_Lname", response.Last_Name);
                localStorage.setItem("user_email", response.email);
                localStorage.setItem("user_password", response.password);
                localStorage.setItem("user_genre", response.genre);
                localStorage.setItem("user_artist", response.artist);
                localStorage.setItem("user_country", response.country);
                //window.location.href = '/ ';
                authorize();
            })
            .fail(function(response){
                alert("error" + response.responseText);
                console.log("error in sign in"+response);
            });
            console.log("after the post");
            
        }
    });
    
</script>
</body>
</html>       