/* Add your CSS styles here */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #191919;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: #36e2ec; /* Light blue on hover */
}

nav {
    background-color: #121213;
    padding: 10px 0;
    text-align: center;
   
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #131313; /* Darker gray on hover */
}
.artist-image {
    display: flex;
    align-items: flex-start;
    background-color: black;
    padding: 10px;
    margin-top: 20px;
}

.artist-image.image-wrapper {
    background-color: black;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    text-align: right;
    
}
.image-wrapper {
    margin-left: 25%; /* Move the image to the right */
}
.image-wrapper img {
    max-width: 200px;
    max-height: 200px;
    
}
.artist-image.music-logo img{
    
    position: absolute;
    left: 10%;
    margin: 10px;
}
.image-wrapper h2 {
    color: #fff;
    position: relative;
    left: 220px;
    top: -100px;
    justify-self:center;
    margin-top: 10px;
   
}

.artist {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 20px;
}

.links {
    padding: 0 0 10px;
    color: #fff;
    font-size: 200%;
    margin-bottom: 20px; 
}

.links a {
    color: #41616f;
    text-decoration: none;
    margin-right: 10px; 
}
/* .links a:hover {
    background: rgb(105, 105, 170, 0.1);
    cursor: pointer;
    transition: .3s ease;
} */
/* .artist ul {
    padding: 0 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
} */

.artist li {
    position: relative;
    padding: 10px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s linear;
    color: #fff; 
    
}

/* .artist li:hover {
    background: rgb(105, 105, 170, 0.1);
} */

/* .artist li span {
    font-size: 20px;
    font-weight: 600;
    color: #4c5262;
} */

.artist li img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

/* .artist li h5 {
    font-size: 20px;
    margin-left: 10px;
} */


/* .artist li .bi {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
} */
.songs-item{
    transition: color 0.3s;
}
.song-item:hover{
    color :rebeccapurple;
}
.master_play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#151414;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.master_play img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 50px;
}
.master_play h5 {
    flex-grow: 1;
    margin: 10px;
    font-size: 16px;
    color:white;
}

.master_play .icon {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    margin-right: 100px;
}

.master_play .bar, .master_play .vol {
    flex-grow: 1;
    margin: 0 10px;
    color: white;
}

.master_play .bar input, .master_play .vol input {
    width: 100%;
    color: white;
}

.master_play .wave {
    display: flex;
    gap: 3px;
    
}
.master_play span{
    color: white;
}
.master_play .wave1 {
    width: 5px;
    height: 20px;
    background: gray;
    animation: wave-animation 1s linear infinite;
    
}

@keyframes wave-animation {
    0%, 100% {
        height: 20px;
    }
    50% {
        height: 30px;
    }
}