/* CSS for styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #191919; /* Background color */
    color: #ffffff; /* Text color */
}

header {
    background-color: black;
    color: #ffffff;
    padding: 60px;
    text-align: center;

}   

.music-logo img {
    position: absolute;
    width: 150px;
    top: 10px;
    left: 10px;
}
.music-menu ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    top: 30px;
}

.music-menu ul li {
    list-style-type: none;
}

.music-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

main {
    padding: 20px;
    
}
main h1{
    margin-bottom: 50px;
    text-align: center;
    
}
h2 {
    color: #ffffff;
}

section {
    margin-bottom: 30px;
}

.album {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.album img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.album img:hover {
    opacity: 0.8; /* Reduce opacity on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}
.master_play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#151414;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.master_play img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 50px;
}
.master_play h5 {
    flex-grow: 1;
    margin: 10px;
    font-size: 16px;
    color:white;
}

.master_play .icon {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    margin-right: 100px;
}

.master_play .bar, .master_play .vol {
    flex-grow: 1;
    margin: 0 10px;
    color: white;
}

.master_play .bar input, .master_play .vol input {
    width: 100%;
    color: white;
}

.master_play .wave {
    display: flex;
    gap: 3px;
    
}
.master_play span{
    color: white;
}
.master_play .wave1 {
    width: 5px;
    height: 20px;
    background: gray;
    animation: wave-animation 1s linear infinite;
    
}

@keyframes wave-animation {
    0%, 100% {
        height: 20px;
    }
    50% {
        height: 30px;
    }
}